<h2>Login</h2>
<form action="/login" method="post">
	Nombre de usuario:
	<input type="text" name="user" value="user">
	<br>
	Contraseña:
	<input type="password" name="password" value="password">
	<br><br>
	<input type="submit" value="Submit">
</form>
<a href="new-player">Registrarse</a>