<% if(not session[:error].nil?) %>
	<% error = session[:error] %> 
	<p> <%= error %> </p>
	<% session[:error] = nil %>
<% end %>

<form action="/players/<%= session[:id] %>/games/<%= @game.first.id %>/move" method="post">
	<table>
		<tr>
			<td> <input value="1x1" name="attack"  type="radio"></td>
			<td> <input value="1x2" name="attack"  type="radio"></td>
			<td> <input value="1x3" name="attack"  type="radio"></td>
			<td> <input value="1x4" name="attack"  type="radio"></td>
			<td> <input value="1x5" name="attack"  type="radio"></td>
		</tr>
		<tr>
			<td> <input value="2x1" name="attack"  type="radio"></td>
			<td> <input value="2x2" name="attack"  type="radio"></td>
			<td> <input value="2x3" name="attack"  type="radio"></td>
			<td> <input value="2x4" name="attack"  type="radio"></td>
			<td> <input value="2x5" name="attack"  type="radio"></td>
		</tr>
		<tr>
			<td> <input value="3x1" name="attack"  type="radio"></td>
			<td> <input value="3x2" name="attack"  type="radio"></td>
			<td> <input value="3x3" name="attack"  type="radio"></td>
			<td> <input value="3x4" name="attack"  type="radio"></td>
			<td> <input value="3x5" name="attack"  type="radio"></td>
		</tr>
		<tr>
			<td> <input value="4x1" name="attack"  type="radio"></td>
			<td> <input value="4x2" name="attack"  type="radio"></td>
			<td> <input value="4x3" name="attack"  type="radio"></td>
			<td> <input value="4x4" name="attack"  type="radio"></td>
			<td> <input value="4x5" name="attack"  type="radio"></td>
		</tr>
		<tr>
			<td> <input value="5x1" name="attack"  type="radio"></td>
			<td> <input value="5x2" name="attack"  type="radio"></td>
			<td> <input value="5x3" name="attack"  type="radio"></td>
			<td> <input value="5x4" name="attack"  type="radio"></td>
			<td> <input value="5x5" name="attack"  type="radio"></td>
		</tr>
	</table>
	<input type="submit" value="submit">
</form>

Jugadas anteriores:
<% @plays.each do |play| %>
	<br>
	<%= play.x%> x <%= play.y%>
<% end %>
<br>
Barcos enemigos restantes:
<%= @ships_left %> 